/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  ========================================
  Custom styles
  ========================================
*/
body {
background: #1d3557;
	color: #457b9d;
	font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}



/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container, .grid {
	margin: 0 auto;
	width: 100%;
}

.container {
  padding-right: 5%;
  padding-left: 5%;
}

.col-1-3 {
	width: 33.33%;
}

.col-2-3 {
	width: 66.66%;
}

.col-1-3, .col-2-3 {
	display: inline-block;
	vertical-align: top;
}

.grid, .col-1-3, .col-2-3 {
	padding-left: 2%;
	padding-right: 2%;
}

/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Rows
  ========================================
*/
.row, .row-alt {
	width: 100%;
}

.row {
	background: #fff;
	width: 100%;
	padding: 66px 0 44px 0;
}

.row-alt {
   background: #cbe2c1;
   background: -webkit-linear-gradient(to right, #f1faee, #a8dadc);
   background: -moz-linear-gradient(to right, #f1faee, #a8dadc);
   background: linear-gradient(to right, #f1faee, #a8dadc);
   padding: 44px 0 22px 0;
 }


/*
  ========================================
  Primary header
  ========================================
*/

.logo {
	border-top: 4px solid #e63946;
	padding: 40px 0 25px 0;
  float: left;
	font-size: 3rem;
	font-weight: 100;
	letter-spacing: .5px;
	line-height: 44px;
	padding: 40px 0 22px 0;
	text-transform: uppercase;
}

.tagline {
	margin: 66px 0 22px 0;
	text-align: right;
	line-height: 25px;
}

.primary-nav {
	font-size: 0.875rem;
	font-weight: 400;
	letter-spacing: .5px;
	text-transform: uppercase;
}

.nav li {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}
.nav li:last-child {
  margin-right: 0;
}

/*
  ========================================
  Typography
  ========================================
*/

h1, h3, h4, h5, p {
  margin-bottom: 22px;
}

h1, h2, h3, h4 {
	color: #e63946;
}

h1 {
	font-size: 2.25rem;
	line-height: 44px;
}

h2 {
	font-size: 1.5rem;
	line-height: 44px;
}

h3 {
	font-size: 1.313rem;
}

h4 {
	font-size: 1.125rem;
}

h5 {
	color: #1d3557;
	font-size: 0.875rem;
	font-weight: 400;
	text-transform: uppercase;
}

strong {
	font-weight: 400;
}

cite, em {
	font-style: italic;
}

/*
  ========================================
  Leads
  ========================================
*/

.lead {
  text-align: center;
}
.lead p {
  font-size: 1.313rem;
  line-height: 33px;
}

/*
  ========================================
  Links
  ========================================
*/

a:hover {
	color: #457b9d;
}

a {
	color: #1d3557;
	text-decoration: none;
}

.teaser a:hover h3 {
	color: #457b9d;
}

p a {
	border-bottom: 1px solid #dfe2e5;
}

.primary-header a,
.primary-footer a {
	color: #fff;
}
.primary-header a:hover,
.primary-footer a:hover {
	color: #457b9d;
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
  border-radius: 5px;
	color: #fff;
	cursor: pointer;
  display: inline-block;
	font-weight: 400;
	letter-spacing: .5px;
  margin: 0;
	text-transform: uppercase;
}

.btn-alt {
  border: 1px solid #fff;
  padding: 10px 30px;
}

.btn-alt:hover {
	background: #fff;
	color: #457b9d;
}

.btn-default {
	border: 0;
	background: #1d3557;
	padding: 11px 30px;
	font-size: 0.875rem;
}

.btn-default:hover {
	background: #457b9d;
}

/*
  ========================================
  Home
  ========================================
*/

.hero {
	color: #fff;
	line-height: 44px;
  padding: 22px 80px 66px 80px;
	text-align: center;
}

.hero h2 {
	font-size: 2.25rem;
}

.hero p {
	font-size: 1.25rem;
	font-weight: 100;
	padding-bottom: 2%;
}

.teaser img {
	border-radius: 5px;
	display: block;
	margin: 5% 0;
	max-width: 100%;
}

.teaser h3 {
	padding-bottom: 2%;
}

.teaser p {
	line-height: 1.5rem;
}

/*
  ========================================
  Primary footer
  ========================================
*/

.primary-footer {
	color: #457b9d;
	font-size: 0.875rem;
	padding-bottom: 44px;
	padding-top: 44px;
}

.primary-footer small {
  float: left;
	font-weight: 400;
}

/* 
.footer-nav {
	display: flex;
	justify-content: flex-end;
} */

.footer-nav li {
float: right;
/* display: inline-block; */
padding: 10px;
}

/*
  ========================================
  Speakers
  ========================================
*/

.speaker-info {
  border: 1px solid #dfe2e5;
  border-radius: 5px;
  margin-top: 88px;
  padding-bottom: 22px;
  text-align: center;
}

.speaker {
margin-bottom: 44px;
}

.speaker-info img {
	border-radius: 50%;
	height: 130px;
	margin: -66px 0 22px 0;
	vertical-align: top;

}

/*
  ========================================
  Schedule
  ========================================
*/

table {
	margin-bottom: 44px;
	width: 100%;
}

table:last-child {
	margin-bottom: 0;
}

th,
td {
	padding-bottom: 22px;
	vertical-align: top;
}

th {
	padding-right: 45px;
	text-align: right;
	width: 20%;
}

td {
	width: 40%;
}

thead {
	line-height: 44px;
}

thead th {
	color: #457b9d;
	font-size: 1.5rem;
}

tbody th {
	color: #457b9d;
	font-size: 0.875rem;
	font-weight: 400;
	padding-top: 22px;
	text-transform: uppercase;
}

tbody td {
	border-top: 1px solid #457b9d;
	padding-top: 21px;
}

tbody td:first-of-type {
	padding-right: 15px;
}

tbody td:last-of-type {
	padding-left: 15px;
}

tbody td:only-of-type {
	padding-left: 0;
	padding-right: 0;
}

table a {
	color: #1d3557;
}

table h4{
	margin-bottom: 0;
}

.schedule-offset {
	color: #e63946;
}
/*
  ========================================
  Navigation
  ========================================
*/

.nav {
  text-align: right;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hamburger {
	display: none;
}

/* .bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background: white;
} */

.nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


/*
  ========================================
  Venue
  ========================================
*/

.venue-theatre {
	margin-bottom: 66px;
}

.venue-hotel {
	margin-bottom: 22px;
}

.venue-map {
	height: 264px;
}

/*
  ========================================
  Register
  ========================================
*/

.why-attend {
  list-style: square;
  margin: 0 0 22px 30px;
}

form {
	margin-bottom: 22px;
}

input, select, textarea {
	font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.register-group label {
  color: #457b9d;
  cursor: pointer;
  font-weight: 400;
}
.register-group input,
.register-group select,
.register-group textarea {
  border: 1px solid #c6c9cc;
  border-radius: 5px;
  color: #888;
  display: block;
  margin: 5px 0 27px 0;
  padding: 5px 8px;
}
.register-group input,
.register-group textarea {
  min-width: 100%;
}
.register-group select {
  height: 5%;
  min-width: 50%;
}
.register-group textarea {
  height: 10%;
}

/* Small Screens */
@media all and (max-width: 700px) {
.col-1-3 {
	float: none;
	display: block;
	width: 100%;
}
.teaser {
	padding: 5% 0;
}
}

@media only screen and (max-width: 768px) {
	.nav-menu {
		position: fixed;
		left: -100%;
		top: 5rem;
		flex-direction: column;
		background: #fff;
		width: 100%;
		border-radius: 10px;
		text-align: center;
		transition: 0.3s;
		box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
	}

	.nav-menu.active {
		left: 0;
}

.nav-item {
	margin: 2.5rem 0;
}

.hamburger {
	display: block;
	cursor: pointer;
}
}